<div id="mario-chat">
		<div id="chat-window">
				<div class="output"></div>
				<div id="feedback"></div>
		</div>
		<input type="text" name="handle" id="handle" placeholder="Handle">
		<input type="text" name="message" id="message" placeholder="Message">
		<button type="button" class="send" id="btn">Send</button>
</div>
<script src="/assets/js/chat.js"></script>