{{> navbar}}		

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="overlay"></div>
			<h2 class="page-head text-center">Chat App</h2>
				
			<div class="chat-head col-md-12" style="display: none">
				<div class="online-users-wrap col-md-3">
					<h3 class="text-center">Online Users</h3>
					<ul class="online-users"></ul>
				</div>
				<div class="chat-form col-md-8">
					<div class="chat-form-wrap">
						<div class="message-area">
							
						</div>
						<div class="messageDiv" style="display: none">
							
								<div class="suggestions col-md-12">
									<form id="emoticonForm" style="display:none">
										<input type="text" name="emotionSuggest" id="emotionSuggest" class="emotionSuggest  col-md-8" />
										<input type="submit" value="send suggested emoticon" class="btn btn-primary col-md-3 emoticon-send">
									</form> 	
								</div>	
								<form class="messageForm form">
									<input type="text" name="message" placeholder="Type your message" class="form-control" id="message"/>
									<input type="submit" class="btn btn-primary form-group" name="submit" value="Send">
							</form>
						</div>	
					</div>
				</div>	
			</div>	
			<ul class="nav nav-tabs col-md-12">
			    <li class="active" style="width: 50%;" ><a data-toggle="tab" href="#home" >Login</a></li>
			    <li style="width: 50%"><a data-toggle="tab" href="#menu1">Register</a></li>
			    
			</ul>
			<div class="tab-content">	
				<br>
			    <div id="home" class="tab-pane fade in active text-center">
					<form class="form-horizontal" method="POST"  id="loginForm">
				        <br><br><br><br>
				        
				            <div class="login-error alert alert-danger text-center" style="display: none;"></div>
				        
				    <div class="form-group">
				      <label class="control-label col-sm-2" for="email">Username or Email:</label>
				      <div class="col-sm-10">
				        <input type="text" class="form-control" id="mailOrName" placeholder="Enter Username or Email" name="mailOrName">
				      </div>
				    </div>

				    <div class="form-group">
				      <label class="control-label col-sm-2" for="pwd">Password:</label>
				      <div class="col-sm-10">          
				        <input type="password" class="form-control" id="loginPassword" placeholder="Enter password" name="password">
				      </div>
				    </div>
				    
				    <div class="form-group">        
				      <div class="col-sm-offset-2 col-sm-10">
				        <button type="submit" class="btn btn-primary">Submit</button>
				      </div>
				    </div>
				  </form>    	
							
			    </div>
			    <div id="menu1" class="tab-pane fade">
			    	<br><br><br><br>
			      	<form class="form-horizontal" method="POST" id="registerForm">
        <br>
        
            <div class="register-error alert alert-danger text-center" style="display: none"></div>
          
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" placeholder="Enter Email" name="email" onBlur="checkEmail()">
      </div>
      <div class="email-error"></div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">User Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="userName" placeholder="Enter User Name" name="userName" onBlur="checkUserName()">
      </div>
      <div class="userName-error"></div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="email">First Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="fName" placeholder="Enter First Name" name="fName">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Last Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="lName" placeholder="Enter Last Nane" name="lName">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Password:</label>
      <div class="col-sm-10">          
        <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
      </div>
    </div>
    
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary" id="registerBtn" disabled="true">Submit</button>
      </div>
    </div>
  </form>	
			    </div>
    		</div>
			
			<form action="/chats/" method="POST" id="chatRedirectForm" >
				<input type="hidden" id="token" name="token"  />
				<input type="hidden" name="userName" id="userNameHidden" >
				<input type="hidden" name="name" id="nameHidden" >
			</form>
			
			

			

				
		</div>
	</div>
</div>

