{{> navbar}}


	<div class="row" style="width:90%;margin-left:5%;margin-bottom: 5%">
		<div class="col-md-12">
			<h2>Registration Form</h2>

			<form action="/users/register" method="POST" class="form">
			  <div class="imgcontainer">
			    <img src="/assets/img/img_avatar2.png" alt="Avatar" class="avatar">
			  </div>

			  <div class="container">
			  	<div class="form-group">
				    <label for="uname"><b>Email</b></label>
				    <input type="email" class="form-control" placeholder="EnterEmail" name="email" required id="email" onBlur="checkEmail()">
				  </div>  

				  <div class="email-error">
				  	
				  </div>

				  <div class="form-group">
				    <label for="uname"><b>User Name</b></label>
				    <input type="text" class="form-control" placeholder="Enter Username" name="userName" id="userName" required onBlur="checkUserName()">
				  </div> 
				  <div class="userName-error">
				  	
				  </div>
 

				  <div class="form-group">
				    <label for="uname"><b>First Name</b></label>
				    <input type="text" class="form-control" placeholder="Enter First Name" name="fName" required>
				  </div>  

				  <div class="form-group">
				    <label for="uname"><b>Last Name</b></label>
				    <input type="text" class="form-control" placeholder="Enter Last Name" name="lName" required>
				  </div>  

				  <div class="form-group">
				    <label for="psw"><b>Password</b></label>
				    <input type="password" class="form-control" placeholder="Enter Password" name="password" id="password" required>
				  </div>

				  <div class="form-group">
				    <label for="psw"><b>Confirm Password</b></label>
				    <input type="password" class="form-control" placeholder="Re-enter Password" id="rePassword" name="confPassword" required>
				  </div>

				  <div class="form-group">
			    	<button type="submit" class="form-control btn-primary" >Login</button>
			    </div> 
			  </div>
			</form>
		</div>	
	</div>	

<script src="/assets/js/main.js"></script>